@import "../assets/scss/components/variables";
.container {
  @media #{$medium-and-up} {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    min-height: 650px;
  }
  app-weather-card {
    display: block;
    width: 100%;
    margin: 20px 0;
  }
}

.notif {
  position: fixed;
  left: 20px;
  bottom: 20px;
  background-color: #333;
  height: 50px;
  line-height: 50px;
  padding: 0 24px;
  vertical-align: middle;
  color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 1px;
  max-width: 100%;
  
  @media #{$small-and-down} {
    left: 0;
    right: 0;
  }
}
